.wrapper
  .header
    .picture
      = image_tag src="/assets/header.jpg", size: ""
  .main
    
    .menu_list
      .icon_btn
        = icon('fas', 'angle-double-down')
        = link_to rooms_path, class: "hidden" do
          = icon('fas', 'comment')
        = link_to edit_user_path(current_user), class: "hidden" do
          = icon('fas', 'address-book')
            
      .user_list
        .name
          - @user.each do |user|
            - if current_user.name != user.name
              = link_to user_path(user) do
                = user.name
              .user_picture
                = link_to user.image.url, 'data-lightbox': user.image do
                  #{image_tag user.image.url}
              .comment
                = user.comment
          = paginate @user
        .twitter
          %a.twitter-timeline{"data-height" => "1500", "data-theme" => "dark", "data-width" => "600", href: "https://twitter.com/masa_kino/lists/list1?ref_src=twsrc%5Etfw"} A Twitter List by masa_kino
          %script{async: "", charset: "utf-8", src: "https://platform.twitter.com/widgets.js"}