.profile
  プロフィール
.acount_name
  = @user.name
  .acount_img
    = image_tag @user.image.url
  .acount_comment
    = @user.comment
    = form_with model: current_user.relationships.build, local: true, remote: true do |f|
      = hidden_field_tag :follow_id, @user.id
      = f.submit 'like!', class: 'btn btn-primary'
        - if current_user.following?(@user)
				