.header_room
  %ul
    %li マッチング一覧
    %li talk
  .toppage
    = link_to root_path do
      トップページ
.room_field
  .side
    .match_name
      - @user.each do |user|
        - if current_user.followers?(user) && current_user.following?(user)
          = form_with model: @room, local: true do |f|
            
            = f.submit user.name 
        .picture
          - if current_user.followers?(user) && current_user.following?(user)
            = image_tag user.image.url
      
  = render 'rooms/talk'
        