.header_room
  %ul
    %li マッチング一覧
  .toppage
    = link_to root_path do
      トップページ
.room_field
  .side
    .match_name
      - @user.each do |user|
        - if current_user.followers?(user) && current_user.following?(user)
          = link_to user_path(user) do
            = user.name 
        .picture
          - if current_user.followers?(user) && current_user.following?(user)
            = image_tag user.image.url
  = render "chats/index"
        